* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
}

button {
  margin: 2rem;
  padding: 1rem 2rem;
  width: 120px;
  cursor: pointer;
}

img {
  width: 120px;
}

/* NAVBAR */
 nav {
  position: fixed;
  display: inline-block;
  /* top: 0; */
  left: 0;
  right: 0;
  background-color: lime;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  padding: 15px;
} 

ul {
  position: right;
}

.nav {
  display: inline;
}

.title {
  color: white;
  background-color: red;
  text-transform: uppercase;
  margin: auto;
}