* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
}

button {
  margin: 2rem;
  padding: 1rem 2rem;
  width: 120px;
  cursor: pointer;
}

.main-app {
  display: flex;
  flex-direction: column;
}

img {
  width: 120px;
}

/* NAVBAR */
 nav {
  position: fixed;
  /* display: inline-block; */
  top: 0;
  left: 0;
  right: 0;
  background-color: lime;
  z-index: 100;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  padding: 15px;
} 

ul {
  position: right;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.title {
  color: white;
  background-color: red;
  text-transform: uppercase;
  margin: 0;
  align-self: center;
}

.nav-img {
  width: 45px;
  border-radius: 50%;
}

.home {
  /* display: 500vh; */
  margin-top: 20px;
}

/* ABOUT */
.about {
  background-color: rebeccapurple;
}

/* .wrap {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

.grid-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
} */

/* FOOTER */
footer {
  background-color: lime;
  overflow: auto;
}