* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* padding: 2rem; */
  background-color: #d7d7b9;

}

button {
  margin: 2rem;
  padding: 1rem 2rem;
  width: 120px;
  cursor: pointer;
}

.main-app {
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
 nav {
  position: fixed;
  /* display: inline-block; */
  top: 0;
  left: 0;
  right: 0;
  background-color: #3b3b00;
  opacity: 1;
  /* z-index: 100; */
}

nav a {
  text-decoration: none;
  padding: 15px;
} 

ul {
  position: right;
}
nav .brand-logo {
  padding-left: 15px;
}

.dropdown-content li>a {
  color: black;
}

.brand-logo {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sot {
  display: inline-block;
}

.title {
  color: white;
  background-color: red;
  text-transform: uppercase;
  margin: 0;
  align-self: center;
}

.nav-img {
  width: 45px;
  border-radius: 50%;
}

.home {
  /* display: 500vh; */
  margin-top: 2.2rem;
}

/* ABOUT */
.about {
  background-color: #d7d7b9;
}

.headers {
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* SERVICES */
.services {
  background-color: white;
}

.service-head {
  margin-top: 0;
  padding-top: 1rem;
}

.buildings {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.elec-services {
  letter-spacing: 1px;
}

/* CONTACT */
.contact-us {
  margin-top: 0;
  padding-top: .1rem;
}
.social-media {
  letter-spacing: 10px;
}

/* APPOINTMENT CARD */
.card-bts {
  display: column;
  margin-top: auto;
}

.card-btn {
  background-color: rgb(237, 237, 237);
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #333;
  text-decoration: none;
  border-radius: 3px;
}

/* NEW APPOINTMENT */
.new {
  margin-top: 2.1rem;
}

/* APPOINTMENT LIST */
.all-appt {
  margin-top: 2.1rem;
}

.appointment {
  margin-left: 15px;
}

/* EDIT APPOINTMENT */
.edit {
  margin-top: 2.1rem;
}

/* FOOTER */
footer {
  position: fixed;
  background-color: #3b3b00;
  color: white;
  overflow: auto;
  bottom: 0;
  width: 100%;
}
